<div class="ui raised text container">
  <table class="ui selectable celled table">
    <thead>
      <tr>
        <th class="ui center aligned header">Name</th>
        <th class="ui center aligned header">Description</th>
      </tr>
    </thead>
    <tbody>
      <% @services.each do |service| %>
        <tr>
          <td class="ui center aligned header"><%= link_to service.name, service %></td>
          <td><%= service.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
