<div class="ui raised very padded text container segment">
  <h1 class="ui header"><%= @service.name %></h1>
  <h2 class="ui header"><%= @current_price %></h2>
  <div>
    <%= @service.description %>
  </div>
</div>
