<% title @user.first_name %>

<% content_for :delete_button do %>
  <div class=" ui button">
    <i class="red cancel icon"></i>
    <%= link_to 'Delete user', user_path(@user), 
                                      method: :delete, 
                                      class: 'white',
                                      data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<div class="ui center aligned container">
  <%= render 'form', user: @user %>
</div>
