<div class="ui fluid center aligned container">
<h1 class='myclass'>Mod 2 project</h1>
</div>


<div class="ui justify aligned container">
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam laudantium sed labore excepturi ducimus ratione modi beatae ipsa quo, saepe aliquid, inventore laborum. Eos voluptatum hic possimus ex aperiam! Officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta esse dolore minus perspiciatis quisquam quos provident eaque soluta optio, eveniet velit libero officia atque, ad at suscipit commodi impedit animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, libero facere quaerat neque perferendis repudiandae totam voluptatibus doloribus, magni ducimus voluptatum recusandae maxime, at iure nam dolore ipsum laboriosam rerum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde animi saepe libero cum architecto maxime quia, necessitatibus, tempora odio nam consequatur quo cumque eligendi sequi accusantium doloribus commodi modi et.
</div>

<div class="ui justify aligned container">
<button class="ui red button">Red</button>
<button class="ui orange button">Orange</button>
<button class="ui yellow button">Yellow</button>
<button class="ui olive button">Olive</button>
<button class="ui green button">Green</button>
<button class="ui teal button">Teal</button>
<button class="ui blue button">Blue</button>
<button class="ui violet button">Violet</button>
<button class="ui purple button">Purple</button>
<button class="ui pink button">Pink</button>
<button class="ui brown button">Brown</button>
<button class="ui grey button">Grey</button>
<button class="ui black button">Black</button>
</div>
