<% title('Welcome to Economize') %>

<h1 class="fluid ui center aligned olive huge icon header">
  <i class="money alternative outline icon"></i>
  <div class="content">
    Economize.
 </div>
</h1>


<h2 class= "fluid ui center aligned header">A subscriptions tracker with a focus on making you aware of your spending behaviour, <br> and on encouraging more informed financial decisions based on a tailored spending <br> profile with predictions that take into account potential monthly increases in <br> subscription fees.</h2><br><br>


<div class = "ui center aligned container">
<div class="fluid massive ui olive vertical animated button" tabindex="0">
  <div class="hidden content"><%= link_to 'Get Started', signup_path %></div>
  <div class="visible content">
    <i class="chart line icon"></i>
  </div>
</div>
</div><br>

<div class = "ui center aligned container">
<div class="fluid massive ui olive vertical animated button" tabindex="0">
  <div class="hidden content"><%= link_to 'I already have an account', signin_path %></div>
  <div class="visible content">
    <i class="chart bar icon"></i>
  </div>
</div>
</div><br>

<h2 class="fluid ui olive center aligned huge header"> Happy tracking/budgeting! </h2>
