<h1> Add A Subscription (from an existing list of services) </h1>
<h2> Choose from the following list: </h2>
<%= form_for @subscription  do |f| %>
  <%= f.collection_select :service_id, Service.all, :id, :name %>
  <%= f.submit %>
<% end %>
