<% title "New subscription" %>

<div class="ui raised very padded text container segment">
  <h1>Subscribe to a new service</h1>
  <%= form_for [@user, @subscription], html: { class: 'ui form' }  do |f| %>
    <div class="field">
      <%# TODO: show only possibe subscribtions with cards %>
      <%= f.collection_select :service_id, Service.all, :id, :name %>
    </div>

    <%= f.submit 'Subscribe' ,class: "ui primary button" %>
  <% end %>
</div>
