

<h2 class="fluid ui center aligned huge icon header">
  <i class="dashboard icon"></i>
  <div class="content">
    Dashboard Menu
    <div class="sub header">View the most recent stats across all services, view your subscription spending, and manage your subscriptions.</div>
  </div>
</h2><br>


<button class= "fluid massive ui olive floated button"><%= link_to 'General Service Stats', services_stats_path %></button><br><br>

  <div class="fluid massive ui olive vertical animated button" tabindex="0">
    <div class="hidden content"><%= link_to 'Personal Spending Profile', user_stats_path(current_user.id) %></div>
    <div class="visible content">
      <i class="chart pie icon"></i>
  </div>
</div><br><br>


  <h2 class="fluid ui olive center aligned huge header"> Happy budgeting/tracking! </h2>
