<h2 class="fluid ui center aligned huge icon header">
  <i class="paper plane icon"></i>
  <div class="content">
    Seems like you are new here, and have no personal profile yet.
  </div>
</h2><br><br><br><br>

<div class = "ui center aligned container">
<div class="fluid massive ui olive vertical animated button" tabindex="0">
  <div class="hidden content"><%= link_to 'Get Started', new_user_subscription_path(current_user.id) %></div>
  <div class="visible content">
    <i class="right arrow icon"></i>
  </div>
</div>
</div><br><br>
